<div class="bg">
    <div class="container">
        <div class="jumbotron" id="finance">

            <hr>
            <h2 class="text-center">Complete this short, judgment-free assessment of your financial values to obtain your finance score.</h2>
            <hr>
            <br>

            <div class="row">
                <div class="col">
                    <ol type="1">
                        {{#each questions}}
                        <div class="question">
                            <li>
                                <strong>
                                    {{question}}
                                </strong>
                            </li>
                        </div>

                        <ol type="a">
                            {{#each options}}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="financeQuestion{{@../index}}" id="radio{{@index}}" value={{@index}}>
                                <label style="font-weight:normal;" class="form-check-label" for="radio{{@index}}">
                                    {{this}}
                                </label>
                            </div>
                            {{/each}}
                            <br>
                        </ol>


                        {{/each}}
                    </ol>

                    <button type="button" class="btn btn-primary" id="submitFinance">Submit</button>

                </div>

            </div>
        </div>
    </div>
</div>